.as-circle {
    height: clamp(9rem, 11rem, 13rem);
    width: clamp(9rem, 11rem, 13rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(top, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
}

.as-score {
    font-family: 'custom-bold';
    font-size: 3.5rem;
    color: var(--white)
}

.as-total-score {
    color: var(--lightLavender);
}


@media only screen and (max-width: 480px) {
    .as-circle {
        height: 150px;
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: -webkit-linear-gradient(top, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
        border-radius: 50%;
    }
}